#region-productos.container

  .region
    .region-title
      %h1= page_title!('Editando producto')

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @producto, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
