#region-productos.container

  .region
    .region-title
      %h1= page_title!('Listando productos')

    .region.sidebar-categorias.pull-left
      %ul
      - @categorias.each do |categoria|
        %li= link_to categoria.nombre, categoria_productos_path(categoria), remote: true

    .region.lista-de-productos
      - if current_admin
        .admin-control
          = link_to 'Crear Producto', new_producto_path, class: 'btn btn-primary'

      #productos
        = render @productos
